<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="col-right">
      <header>
          <div class="header__background"></div>
            <h1 class="title">El blog de Steve</h1>
      </header>
      <main>
          <article>
              <h2>Dummy post</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
              </p>
            </article>
            <article>
              <h2>Dummy post</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
              </p>
            </article>
            <article>
              <h2>Dummy post</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
              </p>
            </article>
      </main>
      </div>
      <aside class="col-left">
        <section class="autor info">
            <div class="mask">
                <img src="./assets/images/steve.jpg" alt="Steve foto de su cara sudada">
              </div>
              <article>
                <h2>Steve Ballmer</h2>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
                </p>
              </article>
        </section>
        <section class="links-group">
            <nav>
                <ul>
                  <li><a href="#">Sección 1</a></li>
                  <li><a href="#">Sección 2</a></li>
                  <li><a href="#">Sección 3</a></li>
                </ul>
              </nav>
              <div>
                <ul>
                  <li><a href="#">Categoría 1</a></li>
                  <li><a href="#">Categoría 2</a></li>
                  <li><a href="#">Categoría 3</a></li>
                </ul>
              </div>
        </section>

      </aside>
      <footer class="footer">
          <span>©2019 EL blog de Steve</span>
      </footer>
    </div>
  </body>
</html>
